---
import Layout from "../../../layouts/Layout.astro";
import CategoryPosts from "../../../components/blog/CategoryPosts"

const { category } = Astro.params;

const url = import.meta.env.PUBLIC_BACKEND_URL

const data = await fetch(`${url}/api/category/${category}?populate=*`).then(
  (response) => response.json()
);

if (!data.data) return Astro.redirect("/404");

const attributes = data.data.attributes;
---

<Layout title={`${attributes.name} Posts | sliger.dev`}>
  <div class="w-[700px] mx-auto min-h-screen">
    <h1 class="mt-24 w-full grid place-items-center text-3xl font-semibold tracking-wider py-16 font-sans text-white">{attributes.name} Posts</h1>
    <CategoryPosts posts={attributes.posts.data} client:only />
  </div>
</Layout>
