---
import Layout from "../../layouts/Layout.astro"
import Markdown from "../../components/Markdown"

export async function getStaticPaths() {
  const data = await fetch('http://localhost:1337/api/posts?populate=*').then(response => response.json());

  return data.data.map((post: any) => {
    return {
      params: { id: post.id },
      props: { post },
    };
  });
}

const { post } = Astro.props;
---
<Layout title={`${post.attributes.title} | sliger.dev`}>
  <div class="relative">
    <div class="h-20"/>
    <div class="w-full h-52 lg:h-96 relative overflow-hidden">
      <img class="w-full absolute bottom-0 opacity-30" src={"http://localhost:1337" + post.attributes.featured_image.data.attributes.url}/>
      <div class="absolute bottom-6 w-full">
        <div class="text-white mx-8 z-50 lg:mx-auto lg:w-[900px]">
          <h1 class="mb-2 font-bold text-2xl lg:text-4xl tracking-widest">
            {post.attributes.title}
          </h1>
          <h3 class="mb-4 underline text-[#FF6000] font-thin text-sm lg:text-lg font-mono">
            {post.attributes.categories.data[0].attributes.name}
          </h3>
          <h2 class="font-thin text-lg font-mono">
            {post.attributes.author.data.attributes.name}
          </h2>
        </div>
      </div>
    </div>
    <main class="text-white mx-8 z-50 lg:mx-auto lg:w-[900px] ">
        <article class="my-12 mb-48">
          <Markdown client:load content={post}/>
        </article>
    </main>
  </div>
</Layout>